name: "Scan Vulnerabilities"

on:
  # schedule:
  #   - cron: "0 0 * * *"
  workflow_call:
    secrets:
        app-id:
          required: true
        app-private-key:
          required: true
  workflow_dispatch:

permissions:
  contents: "read"

jobs:
  scan-vulnerabilities:
    name: "Scan Vulnerabilities"
    runs-on: "ubuntu-latest"
    timeout-minutes: 5
    steps:
      - name: "Issue access token"
        id: "issue-token"
        uses: "getsentry/action-github-app-token@d4b5da6c5e37703f8c3b3e43abb5705b46e159cc" # v3.0.0
        with:
          app_id: "${{ secrets.app-id }}"
          private_key: "${{ secrets.app-private-key }}"

      - uses: "actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8" # v6.0.1
        with:
          token: "${{ steps.issue-token.outputs.token }}"

      - name: "Prepare git access"
        uses: "./.github/actions/prepare-git-access"
        with:
          secret-token: "${{ steps.issue-token.outputs.token }}"

      - uses: "actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5" # v6.2.0
        with:
          go-version: "1.25"

      - name: "Run vulnerability check"
        run: "make vulnerability-check"
